<div class="row" style="margin-top: 120px; margin-bottom: 30px;">
    <div class="col-xs-12">
        <img class="img-responsive" src="img/ac_logo.png" style="margin-left: auto; margin-right: auto;"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
Timothy Innes</br>
<strong>Technology Development Program</strong></br>
<strong>AT&amp;T Services Inc.</strong></br>
e-mail: ti611h@att.com</br>
    </div>
</div>
<div class="col-xs-12">
    <a href="#/" class="btn btn-default center-block" style="color:#9743CC" role="button">Home</a>
</div>