
<div>
    <br></br>
</div>
<div>
    <br></br>
</div>
<div class="row">
    <div>
        <h1>Job-Job Template Training</h1>
    <div>
    <br/>
    <div>
        <h1>Hybrid App Template</h1>
    <div>
     <br/>
    <div class="col-xs-12">
        <a href="#/about" class="btn btn-default center-block" style="color:#9743CC" role="button">About</a>
    </div>
    <div>
        <br/>
    </div>
     <div>
        <p class="text-center"><br/>Photo Gallery: The Visual History of the Telephone <br/></p>
        <p class="text-center"> 
            <img class="img-responsive" src="{{getImage()}}" style="margin-left: auto; margin-right: auto; max-height: 300px; min-height: 300px;"/>  <br/>
             <button ng-click="addOne()" > + </button> <button ng-click="minusOne()" > - </button> <button ng-click="getText()" > info </button>
        </p>
        <p class="text-center">
            {{phoneText}}
        </p>
    </div>
    <div class="app">
   
        <div id="deviceready" class="blink" class="col-xs-12">
   
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
        
        
 
        </div>
    </div>


