
<div>
    <br></br>
</div>
<div>
    <br></br>
</div>
<div class="row">
    <div>
        <h1>Job-Job Template Training</h1>
    <div>
    <div class="col-xs-12">
        <a href="#/about" class="btn btn-default center-block" style="color:#9743CC" role="button">About</a>
    </div>
    
    <div class="app">
   
        <div id="deviceready" class="blink" class="col-xs-12">
   
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
        
        
 
        </div>
    </div>
    <div>
        <h1>Hybrid App Template</h1>
    <div>
     <div>
        <p class="text-center"> Photo Gallery<br/>
            <img class="img-responsive" src="{{getImage()}}" style="margin-left: auto; margin-right: auto;"/>  <br/>
            <button ng-click="addOne()" > + </button> <button ng-click="minusOne()" > - </button>
        </p>
    </div>


